/*table{
    width: 100px;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th{
    background-color: #6d5e5e;
    text-align: left;
    padding:8px;
}
tr:nth-child(even)
{
    background-color: #f2f2f2;
}

tr:nth-child(odd)
{
    background-color: #ffffff;
}

td{
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:hover
{
    background-color: #ddd;
}*/
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
header h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to right, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }